<%= turbo_frame_tag "modal" do %>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="fixed z-20 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
	<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
		<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
		<span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
		<div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
			<!-- <h1 class="text-gray-800 font-semibold text-xl mb-4">Editsssssssing pessoa</h1> -->


			<div class="flex items-center justify-between w-full p-4 text-left border border-gray-200  focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-800 bg-gray-100 dark:bg-gray-800 text-black-900 dark:text-white">
				<p class="text-lg font-bold text-black-400 hover:text-sky-400"><%= @engajado.pessoa.nome %></p>
			</div>
			<div class="items-center justify-between w-full p-2 border border-gray-200 text-sm text-left text-black-500 dark:text-black-400">
				<table class="w-full text-sm text-left text-black-500 dark:text-black-400">
					<tbody>
						<tr>
							<td class="px-2"><strong>Sexo</strong></td>
							<td class="px-2"><%= @engajado.pessoa.sexo.nome %></td>
							<td class="px-2"><strong>Fator rh</strong></td>
							<td class="px-2"><%= @engajado.pessoa.t_sanguinea.nome %></td>
						</tr>
						<tr>
							<td class="px-2"><strong>Etnia</strong></td>
							<td class="px-2"><%= @engajado.pessoa.etnia.nome %></td>
							<td class="px-2"><strong>Estado Civil</strong></td>
							<td class="px-2"><%= @engajado.pessoa.est_civil.nome %></td>
						</tr>
						<tr>
							<td class="px-2"><strong>Nacionalidade</strong></td>
							<td class="px-2"><%= @engajado.pessoa.nacionalidade_id %></td>
							<td class="px-2"><strong>Naturalidade</strong></td>
							<td class="px-2"><%= @engajado.pessoa.naturalidade.nome %></td>
						</tr>
					</tbody>
				</table>

				<div class="grid grid-cols-3 gap-4 w-full px-2 py-1 font-medium text-left ">
					<div class="..."><b>Documentação</b>:</div>
					<div class="col-span-2"><em>Cpf: </em> <a class="blur-sm text-red-900 hover:text-yellow-700 transition duration-150 ease-in-out" data-bs-toggle="tooltip" title="Informação privada"><%= sub_masked(@engajado.pessoa.cpf) %></a> </div>
				</div>


				<% if @engajado.contatos.principais.deste_t_contato(1).present? %>
				<div class="grid grid-cols-3 gap-4 w-full px-2 py-1 font-medium text-left ">
					<div class="..."><b>Contato</b>:</div>
					<div class="col-span-2"><%= pricipais_contatos(@engajado) %></div>
				</div>
				<% else %>
				<div class="flex items-center justify-between w-full px-2 py-1 font-medium text-left "><span><b>Nenhum contato cadastrado</b></span></div>
				<% end %>

				<% if @engajado.enderecos.principais.exists? %>
				<div class="bg-white px-2 py-1 grid grid-cols-3 gap-4">
					<div class="..."><b>Endereço</b>:</div>
					<div class="col-span-2"><%= helper_endereco(@engajado.enderecos.principais.last) %></div>
				</div>
				<% else %>
				<div class="flex items-center justify-between w-full px-2 py-1 font-medium text-left  "><span><b>Nenhum endereço cadastrado</b></span></div>
				<% end %>
			</div>

			<div class="py-2">
				<%= link_to 'Cancelar', @engajamento, class: "cursor-pointer inline-flex items-center text-gray-700 hover:text-white border border-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xs px-4 py-1.5 text-center mr-2 mb-2 dark:border-gray-500 dark:text-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800" %>
			</div>

		</div>
	</div>
</div>
<% end %>