
<%= turbo_stream.update "modal" do %>
<%= abre_modal %>
<div id="toast-success" class="flex items-center p-4 mb-0 w-full max-w text-gray-900 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 border" role="alert">
	<div class="inline-flex flex-shrink-0 justify-center items-center w-8 h-8 text-green-500 bg-green-200 rounded-lg dark:bg-green-800 dark:text-green-600">
		<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
		<span class="sr-only">Check icon</span>
	</div>
	<div class="ml-3 text-sm font-normal"><b><%= denominacao(@endereco_salvo.enderecavel) %></b><br>Endereço registrado com sucesso!</div>
</div>
<div>

	<br>
	<hr class="py-1">
	<div class="text-sm text-gray-900 font-light px-2 py-2">
		<p class="py-1"><b>Endereço:</b> <%= helper_endereco(@endereco_salvo) %></p>
	</div>
	<hr class="py-3">

</div>
<div class="mt-4">
	<%= botao_modal_hide%>
</div>
<%= fecha_modal %>
<% end %>



<%= turbo_stream.update "endereco_principal-#{@engajado.id}" do %><% end %>

