	<%= turbo_stream.update "modal" do %>
	<%= abre_modal %>

	<%= render partial: "engajamentos/partials/form/lideranca_new" %>
	<%= turbo_stream.update "flash" do %>
	<% if @pessoa.errors.any? %>
	<div id="error_explanation" class="bg-red-100 rounded-md p-4 mb-4">
		<h2><%#= pluralize(@pessoa.errors.count, "erros" ) %><b>Impossível salvar o registro:</b></h2>
		<ul>
			<% @pessoa.errors.each do |error| %>
			<li><%= error.full_message.downcase %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<% end %>
	
	<%= fecha_modal %>
	<% end %>