<%= turbo_stream.update "show_eventos" do %>

<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<div class="inline-flex items-center text-base font-sm font-semibold text-gray-900 dark:text-white py-1">
	<% if @eventos.present? %>
	<%= pluralize(@eventos.inicio_on_month(DateTime.now).count, "registro", locale: 'pt-BR') %> neste mês, sendo <%= @eventos.count %> no total.
	<% else %>
	Nenhum evento cadastrado ainda.
	<% end %>
</div>

<div class="container mx-auto border border-gray-300">
	<div class="wrapper bg-white rounded shadow w-full ">
		<div class="header flex justify-between border-b p-2">
			<span class="text-lg font-bold">
				<%= t('date.month_names')[start_date.month] %> de <%= start_date.year %>
			</span>
			<div class="buttons">

				<%= link_to start_date: date_range.first - 1.day do %>
				<button class="p-1">
					<svg width="1.5em" fill="black" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
						<path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
						<path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
					</svg>
				</button>
				<% end %>

				<%= link_to start_date: date_range.last + 1.day do %>
				<button class="p-1">
					<svg width="1.5em" fill="black" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
						<path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
						<path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
					</svg>
				</button>
				<% end %>
			</div>
		</div>
		<table class="w-full border">
			<thead>
				<tr >
					<% date_range.slice(0, 7).each do |day| %>
					<th><%= t('date.abbr_day_names')[day.wday] %></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% date_range.each_slice(7) do |week| %>
				<tr class="text-center h-20">
					<% week.each do |day| %>
					<td class=" h-20 xl:w-40 lg:w-30 md:w-30 sm:w-20 w-10 overflow-auto transition cursor-pointer duration-500 ease ">
						<div class="flex flex-col relative h-20 p-1 mx-auto w-full mx-auto overflow-hidden inline-block align-middle rounded border border-gray-50 border-4 hover:bg-gray-100 hover:border-green-500">
							<div class=" ">

								<div class="inline-flex relative w-full text-sm font-medium ">
									<div class="absolute inset-0 -mt-3">

										<% if day.month == Date.today.month && day.day == Date.today.day %>
										<span class="text-green-500 text-xl hover:text-green-400"><b><%= day.day %></b></span>
										<% elsif day.month == Date.today.month %>
										<span class="text-gray-600 text-xl hover:text-green-400"><b><%= day.day %></b></span>
										<% else %>
										<span class="text-gray-400 text-xl hover:text-green-400"><%= day.day %></span>
										<% end %>
									</div>
								</div>

								<% @eventos.inicio_on_day(day).all.each do |e| %>
								<span class="text-sm text-sky-700"><b><%= @eventos.inicio_on_day(day).count %></b></span>
								<div class="-ml-2 -mt-14 mb-20">
									<span class="flex h-4 w-4">
										<span class="animate-ping absolute inline-flex h-6 w-6 rounded-full bg-green-400 opacity-75"></span>
										<span class="relative inline-flex rounded-full h-3 w-3 bg-green-500 animate-pulse flex space-x-1"></span>
									</span>
								</div>
								<div class=" py-2">
									<%= form_for :evento_dia, url: eventos_dia_engajamento_eventos_path(@engajamento), data: { turbo_frame: "_top" } do |form| %>
									<%= form.hidden_field :referencia, value: e.inicio %>
									<%= form.submit "", class: "absolute inset-0 h-20 w-full hover:bg-green-100 opacity-60" %>
									<% end %>
									<span class="text-sm text-sky-700 -mt-30"><b><%= @eventos.inicio_on_day(day).count %></b></span>
								</div>
								<% end %>

							</div>
						</div>
					</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<% end %>	